%section.title.feature

%section#features
	.row
		.centered.twelve.columns
			%h2 Caracteristicas
			.row
				.five.columns
					.row
						.three.columns
							=image_tag "filter.svg"
						.nine.columns
							%h3
								%strong 1.
								Filtros Personalizados
							%p
								Puedes usar los filtros basados en tus gustos para buscar las alternativas de los lugares en donde puedes vivir.
				.push_one.five.columns
					.row
						.three.columns
							=image_tag "hand.svg"
						.nine.columns
							%h3
								%strong 2.
								Ranking basado en tus preferencias
							%p
								Nos preocupamos de ordenar las alternativas basadas en la compatibilidad que tienes con los lugares y si estos realmente te ayudarán a mejorar tu calidad de vida.
				.four.columns
					.row
						.three.columns
							=image_tag "report.svg"
						.nine.columns
							%h3
								%strong 3. 
								Lugares más buscados
							%p
								Te mostraremos estadísticas de los lugares que más demandan las personas y así puedas verificar cuantas personas tienen tus mismas preferencias.


				.push_one.six.columns
					.row
						.three.columns
							=image_tag "email.svg"
						.nine.columns
							%h3
								%strong 4.
								Correo semanal
							%p 
								Como sabemos que muchas veces estas muy ocupado, te enviaremos un correo semanal con las alternativas que hemos encontrado para ti. 
								%strong Nos preocupamos que sean compatibles contigo, no te enviaremos basura como otras plataformas similares.
