%section.title.how_to_do

%section#how_to_do
	.row
		.centered.twelve.columns
			%h2 
				%strong Como 
				lo hacemos
			%p
				En squape.com sabemos encontrar un lugar donde vivir es realmente dificil. Por esta razón 
				%strong te ayudamos a hacerlo de manera simple y rápida 
				a través de los siguientes pasos.

			.row
				.four.columns
					.center
						%h3 
							%strong 1. 
							Crea una cuenta
						.circle
						
							
				.four.columns
					.center
						%h3 
							%strong 2. 
							Procesamos tus datos
						.circle
					
						
				.four.columns.right
					.center
						%h3 
							%strong 3. 
							Los lugares te encuentran
						.circle
						

