%section.title.login
%section#login
	.row


		.five.columns.fixed-size-facebook
			.row
				.twelve.columns
					=link_to "#", class: '' do
						=image_tag "facebook.png"
				.twelve.columns.fixed-margin-left
					=link_to registrar_path, class: '' do
						=image_tag "correo.png"
			
		.push_one.six.columns
			%h2 
				%strong No busques 
				un lugar para vivir porque 
				%strong te ayudaremos a que el te encuentre !
