%section#main
	.row
		.centered.five.columns
			
			/ =link_to root_path do
			/ 	=image_tag "logo.svg", class: 'logo-main'


		.twelve.columns
			%h1
				%strong.optional Encuentra propiedades
				en tu región
			%p
				Registra, busca, se feliz

		.centered.nine.columns
			=link_to user_omniauth_authorize_path(:facebook) do
				=image_tag "facebook.png"
			=link_to registrar_path, class: 'right' do
				=image_tag "correo.png"