%section#welcome
	.row
		.centered.twelve.columns
			%h2
				Bienvenido a 
				%strong squape.com
			%p
				Una persona en promedio
				%strong pierde más de 30 horas mensuales
				viajando desde su caja al trabajo y viceversa.
			%p
				Si esta persona hiciera este calculo anualmente se dará cuenta que a lo menos pierde 360 horas, es decir que 
				%strong una persona esta 15 días completos perdiendo el tiempo 
				en el transporte público.	
			%p
				Creemos apasionadamente que encontramos una manera que
				%strong TÚ
				y todas las personas de latinoamerica puedan
				%strong recuperar horas de su vida mensualmente.

			%hr

			%h2 
				%strong Qué hacemos ?

			%p
				%strong Te ayudamos a encontrar alternativas para vivir o vacacionar
				de acuerdo a tus gustos, preferencias sociales y lugares que más frecuentas, preocupandonos de encontrar el lugar que más se adapte a tu gustos y además te ayude a mejorar tu calidad de vida, y de esta manera 
				%strong no pierdas una exagerada cantidad tiempo de tu vida viajando.