
.menu-app{
  width: 40%;
  height: 100%;
  float: left;
  background-color: #fff;
  z-index: 12;
  position: absolute;
  box-shadow: 0 15px 0 0px rgba(50,50,50,.75);
  -webkit-transition: all .45s linear;
  -moz-transition: all .45s linear;
  -ms-transition: all .45s linear;
  -o-transition: all .45s linear;
  transition: all .45s linear;
}

.sidebar-filter{
  margin-left: 15px;
}

.menu-app
{
  -webkit-transform: translate3d(-100%,0,0);
  -moz-transform: translate3d(-100%,0,0);
  -ms-transform: translate3d(-100%,0,0);
  -o-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  left: 0;
}

.menu-app.show{
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.angular-google-map-container { 
    width: 60%;
    height: 100%;
    position: absolute;
    float: right;
    z-index: 10;
    left: 40%;
    display: block;
}

.mapPublicationShow > .angular-google-map > .angular-google-map-container {
  width: 50% !important;
  height: 200px !important;
  position: absolute !important;
  z-index: 10 !important;
  margin-left: 60px !important;
  margin-top: 110px !important;
  border: 5px solid !important;
}


.angular-google-map-container img {
    max-width: none;
}


.e-profile.ng-enter{
    -webkit-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
    display: block !important;
}


.e-profile.ng-leave{
    -webkit-animation: fadeOutLeft 1s;
    animation: fadeOutLeft 1s;
    display: block !important;
}

.input.ng-invalid.ng-dirty{
  border-color:#FA787E;
    -webkit-animation: shake 1s;
    animation: shake 1s;
}

.input.ng-valid.ng-dirty{
  border-color: #78FA89;
}

input[disabled=disabled], button:disabled {
  display: none;
}

.own-button-hide{
  
  border-color:#FA787E;
  -webkit-animation: fadeOutLeft 1s;
  animation: fadeOutLeft 1s;
  display: none;
}

.own-button-show{
  border-color:#FA787E;
  -webkit-animation: fadeInLeft 1s;
  animation: fadeInLeft 1s;
  display: inline-block;
}

.publicationShow{
  float:right;
  width: 60%;
  height: 100%;
  padding: 20px 60px;
}

.publicationShow.ng-enter{
    -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
}

.publicationShow.ng-leave{
    -webkit-animation: fadeOutLeft 1s;
  animation: fadeOutLeft 1s;
}

.publicationShowTitle{
  font-weight: 300;
  font-size: 12px;
  text-transform: capitalize;
}

.publicationAddress{
  font-size: 28px;
  font-weight: 100;
  margin-top: 15px;
  margin-bottom: 15px;
}

.publicationShowAddress > strong{
  font-size: 14px;
}

.publicationShowAddressLeft, .publicationShowAddressRight{
  width: 50%;
  float: left;
  margin-top: 15px;
}
