.realstate-image{
	width: 200px;
	height: 200px;
	background-color:#c2c2c2;
	border-radius: 50%;
	position: relative;
}

.realstate-image a{
	color:white;
	font-weight: bold;
	position: absolute;
	height: 100%;
	width: 100%;
	padding-top: 43%;
	text-align: center;
	-webkit-transition: all 0.2s linear;
	background: rgba(0,0,0,0.0);
}

.realstate-image a:hover{
	-webkit-transition: all 0.2s linear;
	border-radius: 50%;
	background: rgba(0,0,0,0.1);
}

@media (min-width: 800px) {
	.e-profile{
		 overflow: auto;
		 height: 80%;	
	}

}