// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,700,800);


html, body {
    width: 100%;
    height: 100%;
}

body{
	font-family: 'Open Sans', sans-serif;
}

section{
	width: 100%;
	height: 720px;
	&#main{
		background: url('/assets/optimized_main.jpg') no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  border-bottom: 0.3em solid #F7961D;

	  .logo-main{
	  	margin-top: 5em;
	  	margin-bottom: 0em;
	  }

	  h1{
	  	font-size: 3.4em;
	  	color: white;
	  	font-weight: 300;
	  	text-transform: uppercase;
	  	margin-bottom: 1em;

	  	strong{
	  		&.optional{
	  			font-weight: 700;
	  		}
	  		font-weight: 800;
	  	}
	  }
	}

	&#welcome{
		background-color: #ecf0f1;
		border-bottom: 0.3em solid #F7961D;
		height: 620px;

		h2{
			text-align: center;
			text-transform: uppercase;
			font-weight: 300;
			font-size: 2.5em;
			padding: 1em 0em;

			&strong{
				font-weight: 700;
			}
		}

		p{
			font-size: 1.1em;
			font-weight: 300;
			strong{
				font-weight: 500;
			}
		}
	}

	&#how_to_do{
		height: 650px;
		background-color: #FFA637;
		border-bottom: 0.5em solid #F7961D;

		h2{
			font-size: 2.9em;
			text-align: center;
			text-transform: uppercase;
			font-weight: 300;
			padding: 0.5em 0em;
			color: whitesmoke;

			&strong{
				font-weight: 700;
			}
		}

		p{
			padding-top: 2.5em;
			font-size: 1.8em;
			color: whitesmoke;
			font-weight: 300;
			text-transform: uppercase;
			width: 30%;

		}
	}

	&#features{
		border-bottom: 0.5em solid #F7961D;
		h2{
			font-size: 2.9em;
			text-align: center;
			text-transform: uppercase;
			font-weight: 300;
			padding: 1em 0em;
		}
	}

	&#resource_people{
		border-bottom: 2em solid #F7961D;
		h2{
			font-size: 2.9em;
			text-align: center;
			text-transform: uppercase;
			font-weight: 300;
			padding: 1em 0em;
		}
	}

	&#login{
		background-color: #FFA637;
		height: 415px;
		h2{
			color: whitesmoke;
			font-size:2.9em;
			font-weight: 300;
			text-transform: uppercase;
			padding: 1em 0em;
		}
	}

	&.title{
		height: 450px; 
		background: url('/assets/optmized_place_two.png') no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
		
		border-bottom:0.5em solid #F7961D;
		&.feature{
			width: 100%;
			background: url('/assets/vina_del_mar_optimized.png') no-repeat center center fixed;
			-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
		}

		&.login{
			background: url('/assets/torre_entel_optimized.png') no-repeat center center fixed;
			-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
		}
	}
}

.circle {
	margin-left: 40px;
    width: 240px;
    height: 240px;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    background: #4679BD;
}


.right{
	float:right !important;
}

.center{
	text-align: center;
	h3{
		color: whitesmoke;
		font-weight: 300;
		text-transform: uppercase;
		font-size: 1em;
		padding-top: 2em;
		padding-bottom: 1.5em;

		strong{
			font-weight: 700;
		}
	}
}


.fixed-size-facebook{
	margin-top: 110px;
}

.fixed-margin-left{
	margin-left: 0px;
	margin-top: 20px;
}

.navbar{
	margin-bottom: 0px;
	ul{
		li{
			.btn{
				border: 0px;
			}
		}
	}	
}

nav{
	height: 65px;
}

.navbar ul li > a{
	text-shadow: none !important;
	font-size: 0.9em;
	text-transform: uppercase;
}

.custom-margin-vives{
	margin-right: 30px;
}

.custom-margin-trabajas{
	margin-right: 6px;
}

.label-margin-right{
	margin-right: 7% !important;
}

p{
	&.profile{
		font-weight: 100;
	}
}

label{
	&.inline{
		font-weight: 100;
	}
}

.centering{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.radioLeft{
	float: left;
	width: 100%;
	height: 55px;
	b{
			float: left;
			margin-right: 0px;
			font-weight: 300;
			height: 35px;
			width: 150px;
	}
}

.radioButton{
	float: left;
}

.usada{
	width:106px;
}

label.precio{
	margin-bottom: 0px;
	font-weight: 700;
	text-transform: uppercase;
}

input[type="text"].address{
	width: 350px;
	font-size: 13px;
	border: 1px solid;
	text-align: center;
	padding: 5px;
	background-color: #e7e7e7;
	border-color:#e7e7e7;
	padding: 10px;
}

input[type="text"].precio{
	width: 200px;
	font-size: 20px;
	border: 1px solid;
	text-align: center;
	padding: 5px;
	background-color: #e7e7e7;
	border-color: #e7e7e7;
	padding: 10px;
}

input[type=radio]{
	display: none;
	margin:10px;
}

input[type=radio] + label{
	display: inline-block;
	margin: 0px;
  padding: 10px 20px;
  background-color: #e7e7e7;
  border-color: #ddd;
  font-weight: 700;
}

input[type=radio]:checked + label { 
	transition: background-color 0.4s ease;
  background-image: none;
  background-color:#d0d0d0;
}

select {
  background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
  background-color:#e7e7e7;
  background-repeat:no-repeat;
  background-position: right 10px top 15px;
  background-size: 16px 16px;
  color:#555555;
  padding:12px;
  width:80px;
  font-size:16px;
  font-weight:bold;
  cursor: pointer;
  text-align:center;
  -webkit-appearance: none;
  border:0;
  outline:0;
  -webkit-transition:0.3s ease all;
	   -moz-transition:0.3s ease all;
	    -ms-transition:0.3s ease all;
	     -o-transition:0.3s ease all;
	        transition:0.3s ease all;
}

#dropdown-custom {
  background-color:#e7e7e7;
}

#dropdown-custom:hover {
  background-color:#d0d0d0;
}



select:focus, select:active {
  border:0;
  outline:0;
}

.messages{
	list-style: none;
	position: absolute;
	z-index: 99999;
	margin-left: 50%;
	margin-top: 3%;
	padding: 1px 80px;
	font-weight: 700;
	font-size: 12px;
		cursor: pointer;
}

.warning{
	border: 1px solid #D98C10;
	background-color: #f39c12;
}

.success{
	background-color: #2ecc71;
	border:1px solid #27ae60;
	padding: 1px 21px;
}

ol{
	list-style: none;
}