<div class="row">
	<div class="twelve columns">

	<div class="row">
		<div class="two columns"></div>
		<div class="eight columns">
			
			<h2>
				Paso 1
				<strong>Crear un perfil</strong>
			</h2>
			<p class="profile">
				Necesitamos parte de tu información para poder ayudarte a encontrar las mejores alternativas 
			</p>
			<p>

			</p>
			<form name="profileForm" ng-submit="profileForm.$valid && submitForm()" novalidate>
				<img ng-src="{{ newPerson.person.image_url }}?width=130&height=130" class="centering" alt="">
				<fieldset>
					<ul>
						<li class="field">
								<label class="inline" for="nombre">Escribe tu nombre</label>
								<input class="xwide text input" type="text" placeholder="Nelson Patricio" id="nombre" ng-model="newPerson.person.name" required/>
						</li>
						<li class="field">
								<label class="inline" for="apellido">Escribe tu apellido</label>
								<input class="xwide text input" type="text" placeholder="Jiménez Troncoso" id="apellido" ng-model="newPerson.person.last_name" required />
						</li>
						</li>
						<li class="field">
							<div class="picker wide label-margin-right" id="sexo" >
								
								<select ng-model="newPerson.person.gender" required>
									<option value="#" disabled>Cual es tu sexo</option>
									<option>Hombre</option>
									<option>Mujer</option>
								</select>
							</div>

							<div class="picker wide">
								<select id="married" ng-model="newPerson.person.married" required>
									<option value="#" disabled>Estas casado?</option>
									<option value="true">Si</option>
									<option value="false">No</option>
								</select>
							</div>
						</li>
						<li class="field">
							<label class="inline custom-margin-trabajas" for="trabajas">Donde trabajas ?</label>
							<input class="xwide text input" type="text" placeholder="Providencia 229, Santiago" id="trabajas" ng-model="newPerson.person.end_address" required/>
						</li>
						<li class="field">
							<label class="inline custom-margin-vives" for="vives">Donde vives ?</label>
							<input class="xwide text input" type="text" placeholder="Providencia 229, Santiago" id="vives" ng-model="newPerson.person.start_address" required/>
						</li>
					</ul>	
				</fieldset>

				<div class="large primary btn" ng-class="{'own-button-hide' : profileForm.$invalid, 'own-button-show': profileForm.$valid}">
					<input type="submit" name="" value="Guardar" ng-disabled="profileForm.$invalid">
				</div>
			</form>
		</div>
	</div>
</div>