<div class="row">
	<div class="twelve columns">
		<h2 class="center">
			Agrega tu propiedad a squape.com
		</h2>
		<p class="center">
			Nosotros te ayudamos a ganar dinero con tu propiedad
		</p>
		<hr />
		<form name="crearPublicacionForm" ng-submit="crearPublicacionForm.$valid && submiteForm()">

			<fieldset>
				<div class="row">
				<div class="six columns">

					<div class="radioLeft">
						<b>Tipo de propiedad</b> 
						<div class="radioButton">
							<input type="radio" name="tipoPropiedad" value="casa" ng-model="publicacion.tipo_propiedad">
									Casa
						</div>
						<div class="radioButton">
							<input type="radio" name="tipoPropiedad" value="depto" ng-model="publicacion.tipo_propiedad">
									Departamento
						</div>
					</div>

					<div class="radioLeft">
						<b>Modalidad</b>
						<div class="radioButton">
							<input type="radio" name="modalidadPropiedad" value="venta" ng-model="publicacion.modalidad">
							Venta
						</div>
						<div class="radioButton">
							<input type="radio" name="modalidadPropiedad" value="arriendo" ng-model="publicacion.modalidad">
							Arriendo
						</div>
					</div>

					<div class="radioLeft">
						<b>Tipo de arriendo</b>
						<div class="radioButton">
							<input type="radio" name="modalidadPropiedad" value="mensual" ng-model="publicacion.tipo_arriendo">
							Mensual
						</div>
						<div class="radioButton">
							<input type="radio" name="modalidadPropiedad" value="diario" ng-model="publicacion.tipo_arriendo">
							Diario
						</div>
					</div>	

					<div class="radioLeft">
						<b>Amoblado</b> 
						<div class="radioButton">
							<input type="radio" name="amobladoPropiedad" value="true" ng-model="publicacion.amoblado">
							Si
						</div>
						<div class="radioButton">
							<input type="radio" name="amobladoPropiedad" value="false" ng-model="publicacion.amoblado">>
							No
						</div>
					</div>

					<div class="radioLeft">
						<b>Antiguedad</b>
						<div class="radioButton">
							<input type="radio" name="nuevaPropiedad" value="nueva" ng-model="publicacion.antiguedad">
							Nueva
						</div>
						<div class="radioButton">
							<input type="radio" name="usadaPropiedad" value="usada" ng-model="publicacion.antiguedad">
							Usada
						</div>			 
					</div>

					<div class="radioLeft">
						<b>N. baños</b> 
						<select ng-model="publicacion.banios">
							<option>0</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>

					<div class="radioLeft">
						<b>N. habitaciones</b> 
						<select ng-model="publicacion.habitaciones">
							<option>0</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>

					<div class="radioLeft">
						<b>Mts Cuadrados</b>
						<input type="text" placeholder="100" ng-model="publicacion.metros_cuadrados"/> 
					</div>

					<div class="radioLeft">
						<b>Precio</b> 
						<input type="text" placeholder="100" ng-model="publicacion.precio" />
					</div>


				</div>
				</div>
			</fieldset>

		</form>
	</div>
</div>