<div class="row">
	<div class="twelve columns">
	<h2>
		Paso 1
		<strong>Crear un perfil</strong>
	</h2>
	<p>
		Necesitamos parte de tu información para poder ayudarte a encontrar las mejores alternativas 
	</p>

	<form name="ProfileForm">
		<fieldset>
			<legend>Datos personales</legend>


			<div class="row">
				<div class="twelve columns">
					<div class="row">

						<div class="six columns">
							<ul>
								<li class="field">
									<input type="text">
								</li>
								</li>
								<li class="field"></li>
								<li class="field"></li>
							</ul>	
						</div>

						<div class="six columns">
							<ul>
								<li class="field"></li>
								<li class="field"></li>
								<li class="field"></li>
							</ul>
						</div>

					</div>
				</div>
			</div>

		</fieldset>
	</form>
	</div>
</div>